/* Navigation */

@media only screen and (max-width:1440px) {
   #navbar .menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    margin: 0 auto;
    color:whitesmoke;

   }
   .menu-icons li a{
    color: aliceblue;
   }
   
    #navbar .hamburger{
       display: block;
       color: black;
       margin-right: 4.5rem;
    }
}
